.toolbar .btn--toolbar,
.toolbar .btn--toolbar:hover:not(:disabled) {
  background-color: #f0f0f0;
  color: #111;
}

.toolbar .btn--toolbar.btn--active {
  background-color: #e0e0e0;
  color: #000;
}

.Input__input {
  border: 1px solid #888;
  color: #111;
}

.Input__label {
  color: #111;
}

.Modal__modal {
  background-color: #fff;
  color: #111;
}

.Modal__title {
  color: #111;
  border-bottom: 1px solid #ddd;
}

.Modal__closeButton {
  background-color: #e0e0e0;
}
.Modal__closeButton:hover {
  background-color: #d0d0d0;
}

.divider,
.toolbar .divider,
.floating-text-format-popup .divider {
  background-color: #d0d0d0;
}

.dropdown .item {
  color: #111;
}

.dropdown .item .shortcut {
  color: #555;
}

.dropdown .item:hover {
  background-color: #f0f0f0;
}

.link-editor .button:hover,
.link-editor .button.hovered {
  background-color: #f0f0f0;
}

.color-picker-trigger:hover {
  background-color: #f0f0f0;
}